* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1920px;
    height: 750px;
    padding: 82px 390px;
    background-color: #fff;
}

.grid-container {
    width: 1140px;
    height: 580px;
    margin: 82px auto 0 auto;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 260px 260px;
    column-gap: 60px;
    row-gap: 60px;
    
}

.grid-elem {
    background-color: rgb(227, 190, 190);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.grid_img {
    margin-bottom: 15px;
    width: 100%;
}


